
/*------------------------Cosas del registro------------------------*/

/* Fondo con gradiente */
.registro-container {
  background: linear-gradient(135deg, #2f2f46, #675670);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  padding: 30px;
}

/* Encabezado */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2C2C3E;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #1C1C2E;
}

.header-content {
  display: flex;
  align-items: center;
}

.header h1 {
  margin-left: 15px;
  font-size: 34px;
}

.titulo-bec {
  font-weight: 700;
  color: white;
}

.titulo-biblioteca {
  font-weight: 300;
  color: #B0B0D1;
  margin-left: 10px;
}

.logo {
  width: 60px;
  height: 60px;
}

/* Imagen debajo del header */
.imagen-crear-cuenta {
  margin-top: 30px; /* Espacio debajo del header */
  width: 100px; /* Ajusta el tamaño de la imagen */
  margin-bottom: 20px;
}

/* Imagen debajo del header */
.imagen-principal-catalogo {
  margin-top: 230px;
  width: 100px; /* Ajusta el tamaño de la imagen */
  margin-bottom: 20px;
}

/* Texto decorativo */
.descripcion {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
  max-width: 600px;
  line-height: 1.5;
  color: #D1D1E9;
}

/* Formulario */
.form-wrapper {
  background-color: #2C2C3E;
  border: 2px solid #4E4E6B;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Formulario */
.form-catalogo {
  /*background-color: #2C2C3E;*/
  /*border: 2px solid #4E4E6B;*/
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 668px;
  margin: 0 auto;
  /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);*/
}

.registro-titulo {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
  position: relative;
}

.registro-titulo::before, .registro-titulo::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  margin: 0 10px;
}

.campo {
  margin-bottom: 25px;
}

.input {
  color:black;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.input-error {
  border-color: red;
}

.mensaje-error {
  color: red;
  font-size: 12px;
}

/* Foto de perfil */
.input-file {
  border: 1px solid #4E4E6B;
  background-color: #3C3C57;
  color: white;
  padding: 8px;
  width: 100%;
  max-width: 100%; /* Asegura que el campo se ajuste al contenedor */
  border-radius: 5px;
}

.input-file {
  border: 1px solid #4E4E6B;
  background-color: #3C3C57;
  color: white;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
}

.boton-registrar {
  background-color: #6200ea;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.boton-registrar:hover {
  background-color: #3700b3;
}

.imagen-registro {
  margin-bottom: 20px;
  width: 100px;
}


/*------------------------Cosas de la homepage------------------------*/


/* Pie de página */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2C2C3E;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #1C1C2E;
}

footer p {
  margin: 5px 0;
}

.hero {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 40px;
  max-width: 900px;
  line-height: 1.5;
  color: #D1D1E9;
}

.homepage-container {
  background: linear-gradient(135deg, #2f2f46, #675670);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  padding: 30px;
}

.hero-img {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.hero-title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 40px;
  max-width: 600px;
  line-height: 1.5;
  color: #e5e5f1;
}

/* Navegación */
.nav {
  width: 100%;
  background-color: #2C2C3E;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #1C1C2E;
  margin-bottom: 40px;
  border-radius: 15px;
}

/* Navegación en registro */
.nav_registro {
  margin-top: 130px;
  width: 100%;
  background-color: #2C2C3E;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #1C1C2E;
  border-radius: 15px;
}

/* Navegación en catálogo */
.nav-catalogo {
  top: 15%;
  position: fixed;
  margin-top: 0px;
  width: 98%;
  background-color: #2C2C3E;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #1C1C2E;
  margin-bottom: 40px;
  border-radius: 15px;
  /*transition: top 0.3s;*/
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
  transition: font-size 0.3s ease;
}

.nav-link:hover {
  font-size: 1.2rem;
}