/* PagRegistro.css */

/* Fondo con gradiente */
.registro-container {
  background: linear-gradient(135deg, #2f2f46, #675670); /* Gradiente sutil */
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  padding: 30px; /* Aumentar el padding para más espacio */
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2C2C3E;
  padding: 30px 0; /* Más espacio en el header */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #1C1C2E;
}

.header-content {
  display: flex;
  align-items: center;
}

.header h1 {
  margin-left: 15px;
  font-size: 34px; /* Tamaño de fuente aumentado */
}

.titulo-bec {
  font-weight: 700; /* Más grosor para BEC */
  color: white;
}

.titulo-biblioteca {
  font-weight: 300; /* Menos grosor para Biblioteca Estación Central */
  color: #B0B0D1; /* Color más suave */
  margin-left: 10px;
}

.logo {
  width: 60px;
  height: 60px;
}

/* Imagen debajo del header */
.imagen-crear-cuenta {
  margin-top: 120px; /* Espacio debajo del header */
  width: 150px; /* Ajusta el tamaño de la imagen */
  margin-bottom: 20px;
}

/* Texto decorativo */
.descripcion {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
  max-width: 600px;
  line-height: 1.5;
  color: #D1D1E9;
}

/* Estilos para el formulario */
.form-wrapper {
  background-color: #2C2C3E;
  border: 2px solid #4E4E6B;
  padding: 40px; /* Más padding en el formulario */
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.registro-titulo {
  font-size: 24px; /* Tamaño de la fuente ligeramente reducido */
  font-weight: 400; /* Menos grosor para el título */
  text-align: center;
  margin-bottom: 25px; /* Más espacio debajo del título */
  position: relative;
}

.registro-titulo::before, .registro-titulo::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: white; /* Color de los puntos */
  border-radius: 50%;
  margin: 0 10px;
}

.campo {
  margin-bottom: 25px; /* Más espaciado entre los campos */
}

.input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.input-error {
  border-color: red;
}

.mensaje-error {
  color: red;
  font-size: 12px;
}

.boton-registrar {
  background-color: #6200ea;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.boton-registrar:hover {
  background-color: #3700b3;
}

.imagen-registro {
  margin-bottom: 20px;
  width: 100px;
}