/**Estilo de la barra de búsquedad*/
.search-box {
    background: #fff;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    line-height: 50px;
}

/**Estilo de la barra de búsquedad en el ingreso de texto*/
.search-box input {
    color: black;
    padding-left: 15px;
    border: 0;
    outline: 0;
    background: white;
    font-size: 20px;
    width: 90%;
}

/**Estilo de la barra de búsquedad respecto al botón*/
.search-box button {
    padding: 10px 12px;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
    text-align: center;
}

.filtro-busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtro-busqueda button {
    padding: 10px 20px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 35px;
}

.filtro-busqueda button:hover {
    background-color: #3700b3;
}

.filtro-oculto {
    margin-top: 25px;
}

.filtro-oculto select{
    color: black;
    border-radius: 5px;
}

.filtro-oculto input{
    color: black;
    border-radius: 5px;
}