/**Estilo de la barra de búsquedad*/
.search-box {
    background: #fff;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    line-height: 50px;
}

/**Estilo de la barra de búsquedad en el ingreso de texto*/
.search-box input {
    color: black;
    padding-left: 15px;
    border: 0;
    outline: 0;
    background: white;
    font-size: 20px;
    width: 90%;
}

/**Estilo de la barra de búsquedad respecto al botón*/
.search-box button {
    padding: 10px 12px;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
    text-align: center;
}

.filtro-busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtro-busqueda button {
    padding: 10px 20px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 35px;
}

.filtro-busqueda button:hover {
    background-color: #3700b3;
}

.filtro-oculto {
    background-color: #2c2c3e7a;
    border: 2px solid #4E4E6B;
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    overflow: hidden;
}

.filtro-oculto select{
    color: black;
    border-radius: 5px;
    margin-bottom: 15px;
}

.filtro-oculto input{
    color: black;
    border-radius: 5px;
}

.filtro-oculto.show {
    opacity: 1;
    height: auto; /* Asegúrate de que el contenido se ajuste */
    transition: opacity 0.3s ease;
}
  
.filtro-oculto.hide {
    opacity: 0;
    height: 0;
    transition: opacity 0.3s ease;
    color: #2c2c3e7a;
}

.parrafos {
    background-color: #2c2c3e7a;
    border: 2px solid #4E4E6B;
    font-size: 18px;
    text-align: center;
    padding: 50px;
    /*margin-bottom: 40px;*/
    /*max-width: 600px;*/
    line-height: 1.5;
    color: #D1D1E9;
}

.parrafos2 {
    background-color: #2c2c3e7a;
    border: 2px solid #4E4E6B;
    font-size: 18px;
    text-align: center;
    padding: 50px;
    /*margin-bottom: 40px;*/
    /*max-width: 600px;*/
    line-height: 1.5;
    color: #D1D1E9;
}

.contenedor-parrafos-catalogo {
    display: flex;
    /*justify-content: space-between; Opcional, ajusta el espacio entre los divs */
    gap: 100px;
    width: 80%;
}

.contenedor-parrafos-catalogo p{
    text-align: justify;
}